/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*GENERAL*/

body {
	color: #FFFFF2;
	background-color: #24292E;
	width: 1200px;
	margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}



h1 {
	text-align: center;
	font-family: 'Spectral SC', serif;
	font-size: 50px;
	padding-top: 10px;
	padding-bottom: 30px;
}

ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: auto;
	padding-bottom: 20px;
}

button {
	font-size: 20px;
	height: 40px;
	font-family: 'Spectral SC', serif;
	background-color: #FFFFFF;
	border-radius: 15px;
	margin-right: 20px;
	margin-left: 20px;
	padding-right: 10px;

}

#board_game {
	border: green solid 1px;
	margin: auto;
	background: url(img/Blank_Go_board.png) no-repeat;
	background-size: cover;
	width: 800px;
	height: 800px;
	padding-top: 8px;
	padding-bottom: 6px;
	padding-left: 7px;

}

.intersection {
	display: inline-block;
	border: 1px solid blue;
	width: 40px;
	height: 40px;

}
.container {
	position: relative;
}

#notification {
	position: absolute;
	left: -100px;
	top: 250px;
	text-align: center;
	margin: auto;
	font-size: 30px;
}

.black_dot {
	background-color: black;
	border-radius: 25px;
}

.white_dot {
	background-color: white;
	border-radius: 25px;
}

#pass_button {
	position: absolute;
	left: -100px;
	top: 300px;
	margin: auto;
	display: none;
}

.lignes {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}