/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*GENERAL*/

body {
	font-family: 'Megrim', cursive;
	color: #E4E4E5;
	background-color: #24292E;
	width: 1400px;
	margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}



h1 {
	text-align: center;
	font-family: 'Megrim', cursive;
	font-size: 50px;
	padding-top: 10px;
	padding-bottom: 30px;
}

nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: auto;
	padding-bottom: 20px;
}

button {
	font-size: 20px;
	height: 40px;
	font-family: 'Megrim', cursive;
	background-color: #E4E4E5;
	border-radius: 15px;
	margin-right: 20px;
	margin-left: 20px;
	padding-right: 10px;

}

#board_game {
	display: none;
	border: green solid 1px;
	margin: auto;
	background: url(img/Blank_Go_board.png) no-repeat;
	background-size: cover;
	width: 700px;
	height: 700px;
	padding-top: 8px;
	padding-bottom: 6px;
	padding-left: 7px;
	-webkit-box-shadow: 0px 0px 60px 6px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 60px 6px rgba(0,0,0,1);
	box-shadow: 0px 0px 60px 6px rgba(0,0,0,1);

}

.intersection {
	display: inline-block;
	border: 1px solid transparent;
	width: 35px;
	height: 35px;

}

.intersection_menu {
	display: none;
	border: 1px solid transparent;
	width: 40px;
	height: 40px;
	margin: auto;

}
.container {
/*	position: relative;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}

#notification, #notification1 {
	/*position: absolute;
	left: -100px;
	top: 250px;*/
	width: 340px;
	text-align: center;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 235px;
	font-size: 30px;
	height: 50px;
}


.black_dot {
	background: rgba(44,44,44,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(44,44,44,1) 16%, rgba(19,19,19,1) 45%, rgba(19,19,19,1) 54%, rgba(19,19,19,1) 82%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(16%, rgba(44,44,44,1)), color-stop(45%, rgba(19,19,19,1)), color-stop(54%, rgba(19,19,19,1)), color-stop(82%, rgba(19,19,19,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(44,44,44,1) 16%, rgba(19,19,19,1) 45%, rgba(19,19,19,1) 54%, rgba(19,19,19,1) 82%);
	background: -o-radial-gradient(center, ellipse cover, rgba(44,44,44,1) 16%, rgba(19,19,19,1) 45%, rgba(19,19,19,1) 54%, rgba(19,19,19,1) 82%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(44,44,44,1) 16%, rgba(19,19,19,1) 45%, rgba(19,19,19,1) 54%, rgba(19,19,19,1) 82%);
	background: radial-gradient(ellipse at center, rgba(44,44,44,1) 16%, rgba(19,19,19,1) 45%, rgba(19,19,19,1) 54%, rgba(19,19,19,1) 82%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#131313', GradientType=1 );
	border-radius: 25px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(112,87,37,1);
	-moz-box-shadow: 0px 0px 10px 2px rgba(112,87,37,1);
	box-shadow: 0px 0px 10px 2px rgba(112,87,37,1);
}

.white_dot {
	background: rgba(226,226,226,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 84%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(226,226,226,1)), color-stop(84%, rgba(254,254,254,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 84%, rgba(254,254,254,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 84%, rgba(254,254,254,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 84%, rgba(254,254,254,1) 100%);
	background: radial-gradient(ellipse at center, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 84%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
	border-radius: 25px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(112,87,37,1);
	-moz-box-shadow: 0px 0px 10px 2px rgba(112,87,37,1);
	box-shadow: 0px 0px 10px 2px rgba(112,87,37,1);
}

#dot_right, #dot_left {
	-webkit-box-shadow: 0px 0px 10px 2px rgba(20,40,61,1);
	-moz-box-shadow: 0px 0px 10px 2px rgba(20,40,61,1);
	box-shadow: 0px 0px 10px 2px rgba(20,40,61,1);
} 


#pass_button1, #pass_button {
/*	position: absolute;
	left: -100px;
	top: 300px;*/
	margin: auto;
	display: none;
	margin-top: 50px;
}

.lignes {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

footer {
	text-align: center;
	margin-top: 20px;
	font-size: 15px;
	font-family: 'Amatic SC', cursive;
}

footer a {
	text-decoration: none;
	color: #E4E4E5;
}

#info_fin {
	margin: auto;
	margin-top: 200px;
	color: #E4E4E5;
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	font-weight: bolder;
}